* {
    text-align: center;
    padding: 0;
    margin:0px;
}

.wallimg {
    background-image: url("../html/wall.png");
    margin: 0;
    width:100%;
    height: 200px;
}

h1,h2,p,a {
    transition: 0.3s;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

li {
    
    display: inline-block;
}

li a {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Code Pro', monospace;
    display: inline-block;
    color:white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    padding: 5px;
}

nav {
    padding: 1px;
}

.downloadbutton {
    background-color: rgb(25, 25, 27);
    border-radius: 20px;
    width: 160px;
    height: 50px;
    display: inline-block;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}

.about {
    background-color: rgb(25, 25, 27);
    border-radius: 20px;
    width: 400px;
    height: 150px;
    display: inline-block;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}

